.app {
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.app.light {
  background-color: #f8fafc;
  color: #1e293b;
}

.app.dark {
  background-color: #1e293b;
  color: #f8fafc;
}

.weather-card {
  transition: transform 0.3s ease;
}

.weather-card:hover {
  transform: translateY(-5px);
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: "Poppins", sans-serif;
    color: white;
  }
}